.colorMixer {
  width: 22%;
}

.cmInputBox,
.cmHeaderBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cmHeader,
.cmColorPreviewLabel {
  margin: 0 0 5px;
}

.cmColorPreview {
  width: 56px;
  height: 19px;
  border: 1px solid grey;
  border-radius: 2px;
}

.cmInputField {
  width: 50px;
}

.cmInputField::-webkit-outer-spin-button,
.cmInputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cmInputField[type=number] {
  -moz-appearance: textfield;
}